*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:Inter,sans-serif;
color:white;
}

.dashboard-container{
min-height:100vh;
background:#050505;
}

.dashboard-layout{
display:flex;
}

.sidebar{
width:260px;
height:100vh;
background:#090909;
border-right:1px solid #222;
padding:30px;
display:flex;
flex-direction:column;
justify-content:space-between;
position:fixed;
}

.logo h1{
font-size:42px;
font-weight:700;
}

.logo span{
color:#ff1a1a;
}

.logo p{
font-size:12px;
color:#777;
margin-top:8px;
}

.sidebar ul{
list-style:none;
margin-top:60px;
}

.sidebar li{
display:flex;
gap:12px;
align-items:center;
padding:18px;
margin-bottom:12px;
border-radius:12px;
cursor:pointer;
}

.sidebar li.active{
background:rgba(255,0,0,.15);
color:#ff1a1a;
}

.logout-btn{
background:none;
border:none;
color:white;
display:flex;
gap:10px;
cursor:pointer;
}

.main-content{
margin-left:260px;
padding:40px;
width:100%;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.navbar h1{
font-size:48px;
}

.navbar p{
color:#888;
margin-top:10px;
}

.navbar-right{
display:flex;
gap:20px;
align-items:center;
}

.search-box{
background:#111;
border:1px solid #222;
padding:14px 18px;
border-radius:12px;
display:flex;
gap:12px;
}

.search-box input{
background:none;
border:none;
outline:none;
color:white;
}

.avatar{
width:50px;
height:50px;
background:#ff1a1a;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-weight:700;
}

.add-note-btn{
background:#ff1a1a;
border:none;
padding:14px 30px;
border-radius:12px;
color:white;
font-size:16px;
cursor:pointer;
margin-bottom:30px;
}

.notes-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.note-card{
background:#0f0f0f;
border:1px solid #222;
border-radius:18px;
padding:25px;
position:relative;
min-height:220px;
}

.note-card h3{
font-size:24px;
margin-bottom:15px;
}

.note-card p{
color:#aaa;
line-height:1.7;
}

.delete-btn{
position:absolute;
bottom:20px;
right:20px;
background:none;
border:none;
color:#ff1a1a;
font-size:22px;
cursor:pointer;
}

.modal-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.75);
display:flex;
justify-content:center;
align-items:center;
}

.modal{
width:700px;
background:#111;
padding:35px;
border-radius:20px;
border:1px solid #222;
}

.modal h2{
margin-bottom:25px;
}

.modal input,
.modal textarea{
width:100%;
background:#0b0b0b;
border:1px solid #222;
padding:16px;
border-radius:12px;
color:white;
margin-bottom:20px;
}

.modal textarea{
height:220px;
resize:none;
}

.modal-actions{
display:flex;
gap:20px;
}

.modal-actions button{
flex:1;
height:55px;
border:none;
border-radius:12px;
cursor:pointer;
}

.modal-actions button:last-child{
background:#ff1a1a;
color:white;
}